
<div class="InicioBody">
  <div class="WelcomeSearch">
    <div style="padding: 48px 80px 48px 80px">
      <h1>Bienvenido</h1>
      <h2>Millones de películas para descubrir. Explorar ahora</h2>
      <div>
        <app-busqueda></app-busqueda>
      </div>
    </div>
  </div>

  <div class="PopularMovies">
    <div style="padding: 48px 80px 48px 80px">
      <h1>Películas Populares</h1>

      <div class="PM_Scroller">

        <div *ngFor="let item of PMdataR" class="PM_Scroller_Item Card">

          <a href="/detalles?movieId={{item.id}}">
            <img class="card-img-top" src="https://image.tmdb.org/t/p/w500/{{item.poster_path}}" alt="Card">

            <h2 class="card-title">{{item.title}}</h2>
          </a>

          <p class="card-text">{{item.release_date}}</p>

        </div>

      </div>

    </div>
  </div>

  <div class="RecentTrailers">
    <div style="padding: 48px 80px 48px 80px">
      <h1>Últimos trailers</h1>

      <div class="RT_Scroller">
        <div *ngFor="let item of RTmovieKeyList; index as i" class="RT_Scroller_Item Card">
          <div *ngIf="RTmovieKeyList[i]">
            <iframe width="460" height="240" [src]="item" allowfullscreen frameBorder="0"></iframe>
          </div>

        </div>

      </div>

    </div>
  </div>
</div>
